{% extends "template.html" %}
{% block content %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>EMPRESA</th>
                    <th>SETOR</th>
                    <th>NOME</th>
                    <th>RAMAL</th>
                </tr>
            </thead>
            <tbody>
            {% for lis in lista %}
                <tr>
                    <td>{{ lis.empresa }}</td>
                    <td>{{ lis.setor }}</td>
                    <td>{{ lis.nome }}</td>
                    <td>{{ lis.ramal }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}